/**
 * Style Overrides.
 *
 * Modify this file to override the Bootstrap Framework styles. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
   @media(max-width:767px){}
   @media(min-width:768px){}
   @media(min-width:992px){}
   @media(min-width:1200px){}
 */

/******************************* GENERALES ****/

.field-name-field-image img {
  width: 100%
}

/**** TAGS ****/

/** body **/

body.front {
  margin:0 0 120px 0 ;
  color: #010101;
	background: @brand-lightblue;
}

body.not-front {
  background-image: url(../images/fondo-eventos.png) no-repeat right bottom;
  margin:0 3% 120px;
}

/******************************* CLASES ****/

/** navbar **/

.not-front .navbar {
  border-bottom: #e51636 solid 1px;
} 

ul.nav.secondary { // navbar secondary
	display:none;
}

.page-header {
  margin: 0;
  border-bottom: none;
}

.jumbotron {
  background:none;
}

.media {
    margin-top: 0px;
    padding-bottom: 26px;
}

.quicktabs_main.quicktabs-style-sky {
	background: @brand-lightblue;
}

.calendario-eventos .quicktabs-tabs li a:hover {
	color: @brand-primary;
	}

	.slideshow-home .views-row .btn {
    position: absolute;
    left: 6%;
    top: 75%;
    z-index: 9;
    font-size: 18px;
		a {
    color: #fff;
		}
}

.views-slideshow-cycle-main-frame {
	max-height:900px;
}

.form-control {
	color: @text-color;
}


/******************************* PÁGINAS ****/

/*** FRONTAL ***/

.front {
	.main-container .container-fluid {

		padding-left:0;
		padding-right:0;
	}

	.region-highlighted h2 {
		display:none;
	}
}


.front section#block-views-eventos-block-1{ // Carrousel Bootstrap

		margin: 0 auto;
		padding:0;
    z-index: -2;
		width:100%;

		h2.block-title {
			display:none;
		}

	@media only screen and (min-width : 300px){
		position:relative;
    margin-top: 0;
	}

	@media only screen and (min-width : 1024px){
    margin-top: -190px;
		float:left;
	}

	.carrousel-cap {
		width: 320px;
	}

}

/** PROGRAMA **/

#views-exposed-form-eventos-todos-page .views-exposed-form .btn,
#views-exposed-form-boletines-page .views-exposed-form .btn{
	.btn;
	.btn-primary;
}


/** ESPECTÁCULO **/

.node-type-espectaculo {

	.field-name-field-image {
			margin: auto -3%;
	}

	.group-fichaposter {

		@media(min-width:768px){
			position:absolute;
			top:0;  
		}

		font-size: @font-size-h3;
		color:white;
		text-shadow: 0 0 8px #000;

		a {
			color:white;
			font-size: @font-size-h4;
			text-shadow: 0 0 8px #000;
			}
	}

	.fechaespectaculo {
	color: @brand-blue;
	}

	.group-poster {
		position:relative;
	}


	.field-name-body {
		font-size: 15px;
		line-height: 1.42857143;
		padding-top: 48px;
		padding-bottom: 48px;
		margin-bottom: 15px;
		font-size: 23px;
		font-weight: 200;
	}

	ul.addtocal_menu {
		background:#333;
	}

}


/** ARTES VISUALES **/

.view-artes-visuales {

  .views-field-title {
    position: absolute;
    z-index: 6;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 10%;
    overflow:hidden;
    background:rgba(0,0,0,.7);
    height:136px;
		h4 {
		  a {
			color:@brand-primary;
			}
			color:white;
		}
  }

  .views-field-nid{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    color: #fff;
    width: 100%;
    padding: 56px 10%;
    background: url(../images/item-row-azul.png) no-repeat;
    background-size: 100% auto;
  }


}



/******************************* VIEWS ****/






#block-views-herramientas-jonathan-block-1,
#block-views-ejes-tem-ticos-jonathan-block {
	img {
	  filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	}

	/* Disable grayscale on hover */
	img:hover {
	  -webkit-filter: grayscale(0);
	  filter: none;
	}
}


.front .logonegro {display:none} 



.panel {
background:none;
}


/**** PÁGINAS ****/

/** front  **/

.front {
  h4 {
    color: white;
    font-weight:600;
  }
}

/** programa  **/


div.form-item-field-categoria-editorial-tid.form-group {
	width:100%;
	background:none;
}

div.form-radios {
	.btn-group;
	.btn-group;
	div.form-type-radio {
		.btn;
		.btn-primary;
		.btn-lg;
	}
}








/** Isotope mosaic **/

.front {

	li.isotope-element {
		list-style:none;
	}

	/* fluid 5 columns */

}



ul.isotope-options{
	.btn-group;
	.btn-group-justified;
	list-style:none;
	text-align:center;
	width:100%;
	li {
		display:inline-block;
	}
}

.filterbutton, .sorterbutton {
	.btn;
	.btn-default;
	&.selected {
		.btn-primary;
	}
	border-radius:0;
}
