@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/**** 
    font-family: 'Open Sans', sans-serif;
***/

/**Configuraciones Generales**/
body{ margin: 0;
	padding: 0;
	position: relative;
	overflow: auto;
	font: 300 14px 'Open Sans', sans-serif;
	background: #fff;
	color: #262626;
}
.ajax-progress{ display: none !important; }
body#tinymce{padding:10px;}
table tbody,
table tbody tr{ border: none; }
/******Tabs******/
.tabs{ padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}
.tabs .tabs{ width: auto;
	margin: 15px auto 0;
	display: table;
	padding: 0;
	border: none;
}
.tabs .tabs li{ list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
.tabs .tabs li a{ background: #353243;
	color: #fff;
	border: none;
	text-align: center;
	font: 300 12px 'Open Sans', sans-serif;
	display: block;
	padding: 8px 15px;
}
.tabs .tabs li.active a{ background: #f24820;
	border: none;
}
.tabs .tabs li a:hover{ background: rgba(41,38,56, 0.5); }


/******Header*******/
header{ width: 100%;
	position: absolute;
	top: 0;
	z-index: 6;
}
#header{ width: 1140px;
	margin: 0 auto;
	position: relative;
	display: block;
}
#block-block-9{ width: auto;
	float: left;
}
#block-block-10{ width: auto;
	float: right;
	color: #fff;
}



#block-system-main-menu{ width: 100%;
    margin: 0;
    overflow: auto;
    padding: 50px 0 0 0;
}
#block-system-main-menu .content ul{ width: auto;
	margin: 0 auto;
	display: table;
	padding: 0;
}
#block-system-main-menu .content ul li{ list-style: none;
	padding: 0;
	margin: 0;
	width: auto;
	float: left;
}
#block-system-main-menu .content ul li a{ color: #fff;
	text-decoration: none;
	width: auto;
	padding: 0 20px;
	margin: 0 0 20px;
	color: #fff;
	border-right: 1px solid rgba(211,153,153,0.6);
	font: 400 14px/12px 'Open Sans', sans-serif;
	letter-spacing: 1px;
	height: 15px;
	display: block;
	line-height: 12px;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	text-transform: uppercase;
}
#block-system-main-menu .content ul li img{ height: 15px;
    margin: -3px 5px 0 0;
    width: 15px;
}
#block-system-main-menu .content ul li a:hover{ color: #fff;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	text-shadow: 0 0 15px #000;
}
#block-system-main-menu .content ul li.last a{ border: none; }
#block-system-main-menu .content ul ul{ display: none;
    position: absolute;
    background: rgba(38,38,38,0.7);
    min-width: 250px;
    -webkit-box-shadow: 0 5px 5px -2px rgba(0,0,0,0.5);
	box-shadow: 0 5px 5px -2px rgba(0,0,0,0.5);
	z-index: 99;
    padding: 15px;
    margin: 0;
    max-width: 380px;
}
#block-system-main-menu .content ul ul li,
#block-system-main-menu .content ul ul li:hover{ width: 95% !important;
	padding: 7px;
	background: url(../images/menulist.png) no-repeat 5px 12px;
	border-bottom: 1px solid rgba(211,153,153,0.6);
}
#block-system-main-menu .content ul ul li.last{ border: none; }
#block-system-main-menu .content ul ul a { color: #fff;
    font: 300 13px 'Open Sans', sans-serif;
    display: block;
    border: none;
    margin: 0;
    text-transform: uppercase;
}
#block-system-main-menu .content ul ul a:hover { color: rgba(255,255,255,1);
	text-shadow: 0 0 15px #000;
}
#block-system-main-menu .content ul li:hover ul {
    display: block;
}
#block-system-main-menu .content ul ul ul{ display: none !important; }


/******Contenido Principal*******/
#contenidoprincipal{ width: 100%;
	position: relative;
	z-index: 5;
}
#block-views-herramientas-jonathan-block{ width: 100%;
	height: 700px;
	overflow: hidden;
}
#block-views-herramientas-jonathan-block .views-field-field-image img{ width: 100%;
	height: auto;
}
#block-views-herramientas-jonathan-block .views-field-title{ position: absolute;
	z-index: 5;
	top: 60%;
	left: 10%;
	color: #fff;
}
#block-views-herramientas-jonathan-block .views-field-field-categoria-editorial{ position: absolute;
	z-index: 5;
	top: 65%;
	left: 10%;
	color: #fff;
}
#block-views-herramientas-jonathan-block .views-field-title a{ text-decoration: none;
	color: #fff;
	font: 400 30px 'Open Sans', sans-serif;
}
#block-views-herramientas-jonathan-block .views-field-field-categoria-editorial{ text-decoration: none;
	color: #fff;
	font: 400 20px 'Open Sans', sans-serif;
}
#block-views-herramientas-jonathan-block-1{ width: 100%;
	position: relative;
}
.calendario-eventos{ width: 100%;
	position: relative;
}
.calendario-eventos .item-list{ background: #CC1B28;
	width: 100%
}
.calendario-eventos .item-list ul{ width: auto;
	margin: 0 auto;
	display: table;
}
.calendario-eventos .item-list ul li a{ background: none;
	border: none;
	color: #fff;
}
.calendario-eventos .quicktabs_main{ width: 80%;
    margin: 0 auto;
    display: table;
    padding: 5%;
    top: 0 !important;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group{ width: 180px;
    height: 180px;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 0;
    margin: 5px 10px;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group .views-field-title{ width: 90%;
	padding: 5px 5%;
	position: absolute;
	z-index: 5;
	bottom: 0;
	background: rgba(0,0,0,0.7);
}
.calendario-eventos .quicktabs_main .quicktabs-views-group .views-field-title a{ text-align: center;
	color: #fff;
	text-decoration: none;
}
#block-block-11{ width: 100%;
	position: relative;
	background: #5590D3;
	padding: 50px 0;
}
#block-block-11 .content{ width: 80%;
	margin: 0 auto;
	display: table;
}
#block-block-12{ width: 100%;
	position: relative;
	padding: 50px 0;
}
#block-block-12 .content{ width: 80%;
	margin: 0 auto;
	display: table;
}
#block-block-12 .content table td{ padding: 0 10px;
	width: 40%;
	font: 400 16px 'Open Sans', sans-serif;
}
#block-block-13{ width: 100%;
	position: relative;
	padding: 50px 0 0 0;
}
#block-block-13 h2{ text-align: center;
	background: #5590D3;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font: 400 20px 'Open Sans', sans-serif;
}
#block-block-13 .content{ background: #CC1B28;
	width: 90%;
	padding: 10px 5%;
}
#block-block-13 .content table td{ padding: 0 10px;
	color: #fff;
	width: 30%;
	font: 400 16px 'Open Sans', sans-serif;
	display: inline-block;
}
#block-block-13 .content table td img{ width: 100%;
	height: auto;
}

/******Footer********/
footer{ width: 100%;
	position: relative;
	padding: 10px;
	color: gray;
	text-align: center;
	font: 300 12px 'Open Sans', sans-serif;
}


/*****Contenido Interno******/
#content{ width: 100%;
	position: relative;
	z-index: 5;
}













